* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bmi-box {
    background-color: #424242;
    color: #fff;
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 20px;
    border-radius: 10px;
}

#bmi-calculater h2 {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 40px;
}

.row {
    margin-bottom: 20px;
}

.bmi-result {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#bmi-info {
    text-align: center;
    margin-top: 100px;
}

#bmi-info .row .col-md-3 {
    padding-top: 20px;
}

#bmi-info .row .col-md-3:nth-child(1) {
    background-color: #2196f3;
    border-radius: 10px;
}

#bmi-info .row .col-md-3:nth-child(2) {
    background-color: yellow;
    border-radius: 10px;
}

#bmi-info .row .col-md-3:nth-child(3) {
    background-color: #f56326;
    border-radius: 10px;
}

#bmi-info .row .col-md-3:nth-child(4) {
    background-color: #f32199;
    border-radius: 10px;
}